= form_with(model: game, local: true) do |form|
  - if game.errors.any?
    #error_explanation
      %h2
        = pluralize(game.errors.count, "error")
        prohibited this game from being saved:
      %ul
        - game.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :game_name
  .field
    = form.label :handsize
    = form.text_field :handsize, id: :game_handsize
  .field
    = form.label :drawsize
    = form.text_field :drawsize, id: :game_drawsize
  .field
    = form.label :rules
    = form.text_field :rules, id: :game_rules
  .field
    = form.label :goals
    = form.text_field :goals, id: :game_goals
  .actions
    = form.submit
