%p#notice= notice
%h1 Games
%table
  %thead
    %tr
      %th Name
      %th Handsize
      %th Drawsize
      %th{:colspan => "3"}
  %tbody
    - @games.each do |game|
      %tr
        %td= game.name
        %td= game.handsize
        %td= game.drawsize
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Game', new_game_path
