%p#notice= notice
%p
  %strong Name:
  = @game.name
%p
  %strong Handsize:
  = @game.handsize
%p
  %strong Drawsize:
  = @game.drawsize
%p
  %strong Rules:
  = @game.rules
%p
  %strong Goals:
  = @game.goals
= link_to 'Edit', edit_game_path(@game)
|
= link_to 'Back', games_path
