= form_for @rule do |f|
  - if @rule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rule.errors.count, "error")} prohibited this rule from being saved:"
      %ul
        - @rule.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :group
    = f.text_field :group
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :entry_actions
    = f.text_field :entry_actions
  .field
    = f.label :exit_actions
    = f.text_field :exit_actions
  .actions
    = f.submit 'Save'
