%h1 Listing rules

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Group
      %th Type
      %th Entry actions
      %th Exit actions
      %th
      %th
      %th

  %tbody
    - @rules.each do |rule|
      %tr
        %td= rule.title
        %td= rule.description
        %td= rule.group
        %td= rule.type
        %td= rule.entry_actions
        %td= rule.exit_actions
        %td= link_to 'Show', rule
        %td= link_to 'Edit', edit_rule_path(rule)
        %td= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Rule', new_rule_path
