%p#notice= notice

%p
  %b Title:
  = @rule.title
%p
  %b Description:
  = @rule.description
%p
  %b Group:
  = @rule.group
%p
  %b Type:
  = @rule.type
%p
  %b Entry actions:
  = @rule.entry_actions
%p
  %b Exit actions:
  = @rule.exit_actions

= link_to 'Edit', edit_rule_path(@rule)
\|
= link_to 'Back', rules_path
